body {
    font-family: "Verdana";
}

h1 {
    font-size: 39px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 33px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 28px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 23px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h6 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
