/* this is from bootstrap starter-template, can probably incorparate it into one of our custom styles later */ 
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
