
textarea {
  background-color: #1E2127;
  color: #dddddd;
  border: solid 1px #131418;
  font-size: 16px;
  padding: 5px 5px;

}

textarea:hover, textarea:focus, textarea:active {
  -webkit-appearance: none;
  outline: 0px !important;
  /*box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;*/

}

input.noteTitle {
  font-size: 36px;
  font-weight: bold;
  background-color: #272b30;
  border: none;
  color: #c8c8c8;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-inverse .navbar-brand {
    color: #98be63;
    font-size: 40px;
    font-weight: bold;

    /*display:inline-block;*/
    /*-webkit-transform:scale(2,1);
    -moz-transform:scale(2,1);
    -ms-transform:scale(2,1);
    -o-transform:scale(2,1);
    transform:scale(2,1); */
}

.noteTreeComponent ul {
  list-style-type: none;
  padding-left : 5px;
}

.noteTreeComponent li {
  /*padding-left : 0; */
  color: orange;
  font-weight: bold;
  cursor : pointer;
}

.noteTreeComponent li:hover {
  opacity: 0.7;
}
